{include file="$templateFolder/header.html"}
<script>
{literal}
	$(document).ready(function(){
		$("#tv_tabs > ul").tabs();
	});
{/literal}
</script>

<div class="headerInfo">
	<h2>Gesti&oacute;n de congresos</h2>
	<h3>{$calendarAuthorName} {if $calendarAuthorEmail!=''}&lang;{$calendarAuthorEmail}&rang;{/if}</h3>
	<h3>{if $calendarTitle!=$calendarAuthorName}{$calendarTitle}{/if}</h3>
</div>

<div class="toolBox">
	<div style="float:left">
		<input type="button" onclick="javascript:GCalFaces.addForm();" value="Nuevo Congreso" />&nbsp;&nbsp;
	</div>
	<div style="float:left">
		<form id="quickAddForm" method="post" onsubmit="return GCalFaces.quickAdd('quickAddForm');">
			Inserci&oacute;n R&aacute;pida <input type="text" id="quickAddContent" name="content" />
		</form>
	</div>

	<div style="float: right">
		<a href="main.php">Lista de calendarios</a>
		<a href="logout.php">Cerrar sesi&oacute;n</a>
	</div>
	<div style="clear:both"></div>
</div>
<br />
<div id="tv_tabs" class="tv_tabs">
    <ul>
        <li><a href="#tv_tab1"><span>2 Meses</span></a></li>
        <li><a href="#tv_tab2"><span>A&ntilde;o Completo</span></a></li>
    </ul>
    <div id="tv_tab1" class="timeView">
		<div> 
			{gcalfaces_select_timeview horizontal_axis=M vertical_axis=E groupTag=congreso end_month=+1}
			<br />
			<br />
			{gcalfaces_select_timeview horizontal_axis=D vertical_axis=S groupTag=congreso end_month=+1}
		</div>	
	</div>
	<div id="tv_tab2" class="timeView">
		<div> 
			{gcalfaces_select_timeview horizontal_axis=M vertical_axis=E groupTag=congreso start_day=1 start_month=1 end_day=31 end_month=12}
		</div>	
	</div>
</div>

<div id="debug"></div>
{include file="$templateFolder/footer.html"}
