<?xml version="1.0" encoding="UTF-8" ?>	
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{$title|default:'GCalFaces'}</title>
	<link rel="stylesheet" type="text/css" href="templates/demo/css/base.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/thickbox.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/ui.datepicker.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/jquery.tooltip.css" />
	
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewME.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewSE.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewDM.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewDS.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewSD.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewMD.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewMS.css" />
	<link rel="stylesheet" type="text/css" href="templates/demo/css/timeviewSM.css" />
	
	<script src="js/jquery-1.2.6.min.js" type="text/javascript"></script>
	<!--<script src="js/jquery-ui-1.5.min.js" type="text/javascript"></script>-->
	<script src="js/jquery-ui-1.6b.min.js" type="text/javascript"></script>
	<script src="js/datepicker/i18n/ui.datepicker-es.js" type="text/javascript"></script>
	<script src="js/jquery.dimensions.min.js" type="text/javascript"></script>
	<script src="js/jquery.bgiframe.js" type="text/javascript"></script>
	<script src="js/jquery.tooltip.min.js" type="text/javascript"></script>
	<script src="js/thickbox-compressed.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces.js" type="text/javascript"></script>
	<script src="js/GCalFaces/DateUtils.js" type="text/javascript"></script>
	<script src="js/GCalFaces/TimeView.js" type="text/javascript"></script>
	<script src="js/GCalFaces/TimeViewManager.js" type="text/javascript"></script>
	
	<script src="js/GCalFaces/GCalFaces_TimeViewME.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewSE.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewDM.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewDS.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewSD.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewMD.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewMS.js" type="text/javascript"></script>
	<script src="js/GCalFaces/GCalFaces_TimeViewSM.js" type="text/javascript"></script>

</head>
<body>
