<script language="javascript" type="text/javascript">
{literal}
	$(document).ready(function(){
		$('.date').datepicker({dateFormat: 'dd/mm/yy', firstDay: 1});
	});
{/literal}
</script>

<div class="itemForm">
	<div class="itemFormTitulo">Evento simple</div>
</div>
<div class="clear"></div>
<br />

<div class="singleEvent">
	<form name="editEventForm" id="editEventForm" action="">
		<input  type="hidden" name="eventId" value="{$eventId}" />
			
		<p></p>
		
		<div class="itemForm">
			<div class="itemFormTitulo">T&iacute;tulo</div>
			<div class="itemFormInput">
				<input  type="text" class="inputNode" id="title0" name="title" value="{$title}" />
			</div>
		</div>
		
		<div class="itemForm">
			<div class="itemFormTitulo">Lugar</div>
			<div class="itemFormInput">
				<input  type="text" class="inputNode" id="where0" name="where" value="{$where}" />
			</div>
		</div>
		
		<div class="itemForm">
			<div class="itemFormTitulo">Descripci&oacute;n</div>
			<div class="itemFormInput">
				<input  type="text" class="inputNode" id="content0" name="content" value="{$content}" />
			</div>
		</div>
		<div class="itemForm">
			<div class="itemFormTitulo">Fecha Inicio</div>
			<div class="itemFormInput">
				<input  type="text"id="startDate0" name="startDate" class="date inputNode" value="{$startDate}" />
			</div>
		</div>
		<div class="itemForm">
			<div class="itemFormTitulo">Fecha Fin</div>
			<div class="itemFormInput">
				<input  type="text" id="endDate0" name="endDate" class="date inputNode" value="{$endDate}" />
			</div>
		</div>
		<div class="itemForm">
			<div class="itemFormTitulo">Hora Inicio</div>
			<div class="itemFormInput">
				<input  type="text" class="inputNode" id="startTime0" name="startTime" value="{$startTime}" />
			</div>
		</div>
		<div class="itemForm">
			<div class="itemFormTitulo">Hora Fin</div>
			<div class="itemFormInput">
				<input  type="text" class="inputNode" id="endTime0" name="endTime" value="{$endTime}" />
			</div>
		</div>
		<div class="clear"></div>
		
		<input type="button" value="Guardar" onclick="GCalFaces.editEvent('editEventForm');"/>
		<input type="button" value="Borrar" onclick="GCalFaces.deleteEvent('editEventForm');"/>
	</form>
</div>