.tvSM_control, .tvSM_links, .tvSM_header {
	clear: both;
	/*float: left;*/
	width: 100%;
	color: #FFF;
}
.tvSM_control {
	background: #FF9900;
	padding: 2px 0px;
}
.tvSM_links {
	background: #E0F4D7;
	padding: 2px 0px;
}
.tvSM_control, .tvSM_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.tvSM_links label {
	padding: 2px 5px;
	color: #888;
}
.tvSM_clear, .tvSM_prev {
	float: left;
	width: 34%;
}
.tvSM_current {
	float: left;
	width: 30%;
	text-align: center;
}
.tvSM_close, .tvSM_next {
	float: right;
	width: 34%;
	text-align: right;
}
.tvSM_header {
	padding: 1px 0 3px;
	background: #83C948;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}


.tvSM_title-row {
	background: #B1DB87;
	color: #000;
}
.tvSM_title-row .tvSM_week-end-cell {
	background: #B1DB87;
}
.tvSM_days-row {
	background: #FFF;
	color: #666;
}
.tvSM_week-col {
	background: #B1DB87;
	color: #000;
	text-align: center;
}
.tvSM_days-cell {
	color: #000;
	border: 1px solid #DDD;
	min-height: 60px;
}
.tvSM_days-cell a {
	display: block;
}
.tvSM_week-end-cell {
	background: #E0F4D7;
}
.tvSM_unselectable {
	color: #888;
}
.tvSM_week-over, .tvSM_week-over .tvSM_week-end-cell {
	background: #B1DB87 !important;
}
.tvSM_days-cell-over, .tvSM_days-cell-over.tvSM_week-end-cell {
	background: #FFF !important;
	border: 1px solid #777;
}
.tvSM_today {
	background: #B1DB87 !important;
}
.tvSM_current-day {
	background: #83C948 !important;
}
.tvSM_status {
	background: #E0F4D7;
	width: 100%;
	font-size: 80%;
	text-align: center;
}
#tvSM_div a, .tvSM_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.tvSM_inline .tvSM_links a {
	padding: 0 5px !important;
}
.tvSM_control a, .tvSM_links a {
	padding: 2px 5px !important;
	color: #000 !important;
}
.tvSM_title-row a {
	color: #000 !important;
}
.tvSM_control a:hover {
	background: #FDD !important;
	color: #333 !important;
}
.tvSM_links a:hover, .tvSM_title-row a:hover {
	background: #FFF !important;
	color: #333 !important;
}
.tvSM_one-month {
	border: 2px #CCC solid;
}

.tvSM_cover {
	display: none;
	display/**/: block;
	position: absolute;
	z-index: -1;
	filter: mask();
	top: -4px;
	left: -4px;
	width: 193px;
	height: 200px;
}

.tvSM_structure{
	position: relative;
	overflow: hidden;
}

table.tvSM {
	width: 100%;
	text-align: right;
}
table.tvSM td {
	vertical-align:top;
}
table.tvSM td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #ffffff;
	background: #0a60d6;
	cursor: pointer;
	border: 1px solid #eeeeee;
	height: 13px;
	font-size: 10px;
}
table.tvSM td a:hover {
	border: 1px solid #dddddd;
	color: #ffffff;
	background: #1484e6;
}
table.tvSM td a:active {
	border: 1px solid #dddddd;
	color: #e69700;
	background: #e6e6e6;
}
table.tvSM .tvSM_title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #222222;
	text-transform: uppercase;
	/*border-bottom: 1px solid #ffffff;*/
}

table.tvSM .tvSM_title-row td a {
	color: #222222;
}

.tvSM_event{
	border: 1px solid #83C948;
	cursor: pointer;
}

.tvSM_cellfill{
	min-height: 65px;
}

.tvSM_goNext, .tvSM_goPrev{
	background: #B1DB87 !important;
	border: 0px !important;
	display: inline !important;
	height: auto !important;
	padding: 0px !important;
	cursor: pointer;
}